<script src="/app-property/js/jquery-3.2.1.min.js"></script> 
<script src="/app-property/js/bootstrap.min.js"></script>
<script src="/app-property/js/popper.min.js"></script> 
<script src="/app-property/js/notie.min.js"></script>
<script src="/app-property/js/jquery.validate.min.js"></script>
<script src="/app-property/js/sweetalert2.min.js"></script>
<script src="/app-property/js/jquery.dataTables.min.js"></script>
<script src="/app-property/js/dataTables.bootstrap4.min.js"></script>
<script src="/app-property/js/main.js"></script>
</body>
</html>