<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>Arghya Assignment</title>
        <link href="/app-property/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/app-property/css/dataTables.bootstrap4.min.css" />
         <link rel="stylesheet" href="/app-property/css/magnific-popup.css" />
        <link href="/app-property/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/app-property/css/notie.css" />
        <link rel="stylesheet" href="/app-property/css/sweetalert2.min.css" />
        <link href="/app-property/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <script>
          var base_url='<?php echo base_url(); ?>';
        </script>
    </head>
    <body>
