<%- include('includes/header.html'); -%>
<div class="container mt-2">
    <div class="row">
       <div class="col-md-12 mt-1 text-center">
          <h2 class="text-white bg-dark p-3">Inbound Screen</h2>
       </div>
       <%- include('includes/menu.html'); -%>
       <div class="col-md-12 mb-4">
            <form id="postForm" class="form-horizontal" method="POST">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>Date :</label>
                        <input type="text" class="form-control" name="create_date" placeholder="Enter Date" value="<%= moment().format('DD-MM-YYYY'); %>" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Challan No. :</label>
                        <input type="text" class="form-control" name="challan_no" placeholder="Enter Challan No." value="">
                    </div>
                    <div class="col-md-4">
                        <label>SKU Scan :</label>
                        <input type="text" class="form-control" name="sku" placeholder="Enter SKU" value="">
                    </div>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary" id="btn-save">Submit</button>
                </div>
           </form>
       </div>
       <div class="col-md-12 mt-2 mb-3 add_sku_data">
       </div>
    </div>
 </div>
<%- include('includes/footer.html'); -%>

<script>
function storage_rack(id){
    var current_location=window.location.href;
    swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, store it!',
        showLoaderOnConfirm: true,
        preConfirm: function() {
            return new Promise(function(resolve) {
                jQuery.ajax({
                    url: 'rack-store',
                    type: 'POST',
                    data: {id: id},
                    dataType: 'json'
                })
                .done(function(response){
                    swal('Store it!', response.message, response.status);
                    //window.location.href=current_location;
                    //window.location.reload();
                    jQuery('.add_sku_data').html(response.html);
                })
                .fail(function(){
                    swal('Oops...', 'Something went wrong with ajax !', 'error');
                });
            });
        },
        allowOutsideClick: false
    });
}

$(document).ready(function(){
    $("#postForm").validate({
        rules: {
            challan_no: {
                required: true,
            },
            sku: {
                required: true,
            }
        },
        messages: {
        },
        submitHandler: function(form) {
            var formdata = jQuery('#postForm').serialize();
            $.ajax({
                type: "POST",
                url: "add-product-sku",
                data: formdata,
                dataType: 'json',
                success: function(resp) {
                    if (resp.status === 'success') {
                        notie.alert({
                            type: 'success',
                            text: '<i class="fa fa-check"></i> ' + resp.message,
                            time: 5,
                            position: 'top'
                        });
                    } else {
                        notie.alert({
                            type: 'error',
                            text: '<i class="fa fa-time"></i> ' + resp.message,
                            time: 5,
                            position: 'top'
                        });
                    }
                    jQuery('.add_sku_data').html(resp.html);
                }
            });
        }
    });
});
</script>